body{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
nav {
  height: 75px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  text-decoration: none;
  decoration: none;
}
.nav-btn-group {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.btn-style{
  height: 50px;
  width: 120px;
  /*background-color: lightblue;*/
  margin-right: 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  font-style: 'Roboto', sans-serif;
  color: #fff;
}
.nav-cat-btn-group {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btn-style-cat {
  height: 50px;
  width: 120px;
  margin-right: 20px;
  border: none;
  border-radius: 5px;
}
.page-container {
  overflow-y: auto;
  height: calc(100vh - 75px);
}
.home-text-container{
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 99%;
    background-color: #fff;
    /*border: 1px solid #000;*/
    position: absolute;
    top: 12.5%;
    left: 0.5%;
}
.paragraph {
  white-space: pre-line;
  font-weight: bold;
}
.link {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  line-height: 25px; /* Adjust the value as needed */
}
.top-text{
  position: absolute;
  left: 12.5%;
  font-size: 2.6rem;
  height: 150px;
  width: 1000px;
  font-weight: bolder;
  color: #000;
  font-family: 'Roboto', sans-serif;
}
.sub-text{
  position: absolute;
  left: 20%;
  top: 55%;
  font-size: 18px;
  height: 150px;
  width: 800px;
  font-weight: lighter;
  color: gray;
  font-family: 'Roboto', sans-serif;
}
.dashboard-snippet {
  height: 50%;
  width: 60%;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: aqua;
  position: absolute;
  top: 50.5%;
  left: 20%;
}
.calltoactionbtn{
  position: absolute;
  top: 40%;
  left: 46%;
}